@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root {
    --main-blue-color: #0F0E17;
    --main-yellow-color: #FED941;
    --main-grey-color: #A7A9BE;
    --main-black-color: #000000;
    --main-white-color: #FFFFFE;
    --varColor:#3A3539;
    --varLetra:white;
}

body{
    background: var(--main-blue-color);
    color: white;
    margin: 0;
    overflow-x: hidden; 
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 20px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

.nav-list:hover{
    color: var(--main-yellow-color);
    text-decoration: underline;
    cursor: pointer;
}

#user{
    display: flex;
    padding: 20px 10px 0px 20px;
    cursor: pointer;
    color: var(--main-white-color);
}

#row {
    width: 45%;
    display: flex;
    justify-content: space-around; 
}

.nav-list {
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em;
    color: var(--main-white);
}

.searchingBar{
    display: flex;
}
.searching {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 12px;
    position: static;
    width: 300px;
    height: 44px;
    left: 0px;
    top: 0px;
    background: var(--main-white-color);
    border: 1px solid #FED941;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
    margin-left: 20px;
}

.btnSearching {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    position: static;
    width: 72px;
    height: 44px;
    left: 533.19px;
    top: 0px;
    background: #FED941;
    border: 1px solid #FED941;
    border-radius: 0px 8px 8px 0px;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    cursor: pointer;
}

#user{
    display: flex;
    padding: 20px 10px 0px 20px;
    cursor: pointer;
}

.slider{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 85%;
    margin: auto;
}
.slider img {
    width: 100%;
    scroll-snap-align: center;
    margin: 100px 0px 0px 0px;

}

#all-movies h1 {
    margin-top: 2em;
    margin-left: 100px;
    margin-bottom: 4em;
}

.image{
    max-width: 100%;
    width: 170px;
    margin-left: 25px;
    display: flex;
    margin-right: auto;
    cursor: pointer;
    border-radius: 4px;
}
.card{
    display: inline-block;
}
.row{
    margin-left: 50px;
}

h5 {
    content: '';
    position: relative;
    display: flex;
    width: 92px;
    height: 36px;
    top: -259px;
    right: 0px;
    bottom: 0px;
    left: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 50px 50px 0px;
    background-color: #000000a3;
    border-bottom: 3px solid #FED941;
    border-top: 3px solid #FED941;
    border-right: 3px solid #FED941;
    backdrop-filter: blur(3.5px);
}

.card .vote-average-container .vote-average {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.01em;
}

.card .vote-average-container i {
    color: #FED941;
    margin-right: 10px;
}

#star {
    position: relative;
    bottom: 207px;
    left: 34px;
    z-index: 3;
    color: var(--main-yellow-color);
}

.card-description{
    display: flex;
    align-items: center;
}

#image {
    max-width: 50%;
    max-height: 50%;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    margin: 6em;
}

#resume{
justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
max-height: 50%;
max-width: 50%;
margin: auto;
}

#btn-watch-trailer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    position: static;
    width: 72px;
    height: 44px;
    left: 533.19px;
    top: 0px;
    background: #FED941;
    border: 1px solid #FED941;
    border-radius: 8px 8px 8px 8px;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    cursor: pointer;
}
