@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root {
    --main-blue-color: #0F0E17;
    --main-yellow-color: #FED941;
    --main-grey-color: #A7A9BE;
    --main-black-color: #000000;
    --main-white-color: #FFFFFE;
    --varColor:#3A3539;
    --varLetra:white;
}

body{
    background: var(--main-blue-color);
    color: white;
    margin: 0;
    overflow-x: hidden; 
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav-list:hover{
    color: var(--main-yellow-color);
    text-decoration: underline;
    cursor: pointer;
}

#row {
    width: 40%;
    display: flex;
    justify-content: space-around; 
}

.nav-list {
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--main-white);
}

.searchingBar{
    display: flex;
}
.searching {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 12px;
    position: static;
    width: 400px;
    height: 44px;
    left: 0px;
    top: 0px;
    background: var(--main-white-color);
    border: 1px solid #FED941;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
}

.btnSearching {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    position: static;
    width: 72px;
    height: 44px;
    left: 533.19px;
    top: 0px;
    background: #FED941;
    border: 1px solid #FED941;
    border-radius: 0px 8px 8px 0px;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

#user{
    display: flex;
    padding: 20px 10px 0px 20px;
    cursor: pointer;
}