@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root {
    --main-blue-color: #0F0E17;
    --main-yellow-color: #FED941;
    --main-grey-color: #A7A9BE;
    --main-black-color: #000000;
    --main-white-color: #FFFFFE;
    --varColor:#3A3539;
    --varLetra:white;
}

body{
    background: var(--main-blue-color);
    color: white;
    margin: 0;
    overflow-x: hidden; 
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 10;
}


#user{
    display: flex;
    padding: 20px 10px 0px 20px;
    cursor: pointer;
    color: var(--main-white-color);
}


#Headline1{
    text-align: center;
    margin-top: 4em;
}

#form {
    display: block;
    width: 30%;
    background-color: var(--main-yellow-color);
    padding: 30px;
    margin: auto;
    margin-top: 3em;
    border-radius: 10px;
  }

  .campo input {
      border: none;
      min-width: 100%;
      min-height: 3em;
      border-radius: 6px;
      background-color: var(--main-white-color);
      margin-bottom: 10px;
  }

  .submit {
    margin: 10px 10px 10px 10px;
    width: 100%;
    background-color: var(--varColor);
    color: white;
    font-size: 20px;
    padding: 6px;
    border-radius: 6px 6px 6px 6px;
    border: none;
}
